data/*
!data/.gitkeep
!data/timeseries/.gitkeep
!data/timeseries_coords/.gitkeep
!data/usine_generation/.gitkeep
!data/ventures/.gitkeep

outputs/*
!outputs/plot/.gitkeep

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
src/__pycache__